/*

.comment-answers-comment-form.comment-form,
.comment-answers-question-comment-form.comment-form {
  display: none;
}

 */

article.answers-comment {
  display: flex;
}

article.answers-comment .comment-actions {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: flex-start;
  width: 37px;
  width: calc(2ch + 16px + 4px + 2px);
  margin-right: 9px;
}

article.answers-comment .comment-text {
  float: right;
  grid-column: 2;
  /* width: 20px; */
}

article.answers-comment > span * {
  display: inline-block;
}

article.answers-comment .comment-voting {
  float: right;
  width: 20px;
  padding-right: 4px;
}

article.answers-comment .comment-points {
  float: right;
  width: 20px;
  padding-right: 4px;
}

article.answers-comment .comment-flagging {
  float: right;
  grid-column: 2;
  width: 20px;
  padding-right: 4px;
}

.answers-question-grid {
  display: grid;
}

.answers-question-grid > .answers-actions {
  grid-column: 1;
  width: auto;
  padding-right: 16px;
}

.answers-question-grid > .answers-content {
  grid-column: 2;
  width: auto;
  padding-right: 16px;
  min-width: 0;
  vertical-align: top;
}

.comment-answers-question-comment-form div.form-item-comment-body-0-value label,
.comment-answers-comment-form div.form-item-comment-body-0-value label,
.comment-answers-answer-form div.form-item-comment-body-0-value label {
  display: none;
}
